# all h5 output files
*.h5

# all example plotting routines and figures
examples/*/*.py
examples/*/*.png

# OSX hidden files
*.DS_Store
**/*.DS_Store

# all example data products that we don't want to track
examples/*/wmat
examples/*/gfunc
examples/*/xifunc
examples/*/figures
examples/*/*.ipynb

# log on cluster
examples/*/log

examples/wmat
examples/gfunc
examples/xifunc
examples/cleanup.sh

src/Transform.jl
src/Xi_legacy.jl
src/GFuncRetro.jl

# Documentation (avoid committing generated content)
docs/build/