

# very annoying OSX hidden files
*.DS_Store

# all example data products that we don't want to track
examples/*/wmat
examples/*/gfunc
examples/*/xifunc

# log on cluster
examples/*/log

examples/wmat
examples/gfunc
examples/xifunc
examples/cleanup.sh

src/Transform.jl
src/Xi_legacy.jl
