

# OSX hidden files
*.DS_Store
**/*.DS_Store

# all example data products that we don't want to track
examples/*/wmat
examples/*/gfunc
examples/*/xifunc
examples/*/figures

# log on cluster
examples/*/log

examples/wmat
examples/gfunc
examples/xifunc
examples/cleanup.sh

src/Transform.jl
src/Xi_legacy.jl
src/GFuncRetro.jl
